{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Eligibility - Before you apply - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form action="/phase-3/project-location/project-location" method="post">

  <span class="govuk-caption-xl">Eligibility</span>

   <h1 class="govuk-heading-xl">Before you apply</h1>

     <p class="govuk-body">During the application process, you will need to provide:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>details of any childerminders or Private, Voluntary, and Independent (PVI) partners, if relevant</li>
        <li>information about the current or planned capacity for the term-time and holiday childminding</li>
        <li>feasibility and sustainability details of the proposed nursery provision, including financial suitability</li>
        <li>full project cost breakdowns</li>
        <li>information on any additional funding needed</li>
        <li>any risk associated with the project and key milestones</li>
        <li>evidence showing how local childcare needs have been considered and your approach to Early Years education</li>
        <li>mandatory documents: a marked-up floor plan, photos of the space for the capital works, and at least one cost breakdown from a qualified cost manager</li>
      </ul>

      <p class="govuk-body">You can <a class="govuk-link" href="#">find more information in our guidance</a>.</p>

      
      <div class="govuk-inset-text">
      If you need to gather any information during your application, you save your progress and return
      </div>


      {{ govukButton({
      text: "Start your application",
            href: ""
      }) }}

      <h2 class="govuk-heading-l">Register your interest</h2>
      <p class="govuk-body">You can <a class="govuk-link" href="#">register your interest to apply in future rounds</a>.</p>

      <p class="govuk-body">We will let you know when applications are open.</p>

</form>
</div>

    </div>
  </div>



{% endblock %}
