{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
What is the name of the Best Start Family Hub? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-3/project-location/address-of-bsfh" method="post">


  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="projectLocation">
       What is the name of the Best Start Family Hub?
      </label>
    </h1>
     
    <input class="govuk-input" id="projectLocation" name="projectLocation" type="text" aria-describedby="event-name-hint">
  </div>



      
    {{ govukButton({
    text: "Continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
