{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Project information - Check your answers - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/phase-1/tasklist?consultation=Complete" method="post">

      <span class="govuk-caption-xl">Local consultation</span>
      <h1 class="govuk-heading-l">Check your answers</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has this project undergone a minimum of 3 to 4 weeks consultation with interested local parties, as recommended by DfE?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['undergoneConsultation'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Has this project undergone a minimum of 3 to 4 weeks consultation with interested local parties, as recommended by DfE?</span></a>
            </dd>
          </div>
          {% if data['undergoneConsultation'] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Local consultation details
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['fileUpload3'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Local consultation details</span></a>
            </dd>
          </div>
          {% else%}
          {% endif %}
          {% if data['undergoneConsultation'] == "Not applicable" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Provide more information
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['consultInfo'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Local consultation details</span></a>
            </dd>
          </div>
          {% else%}
          {% endif %}
        </dl>

        {% if data['undergoneConsultation'] == "Consultation is still in progress" %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            You need prior agreement from the DfE before you can submit your application. Contact us to discuss.
          </strong>
        </div>
        {% endif %}
      
         {{ govukButton({
          text: "Save and continue",
          href: ""
         }) }}

        </form>
      </div>
    </div>
  </main>
</div>



      
  


  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
