{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Project overview - Project description - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-3/project-overview/school-esb" method="post">

  <span class="govuk-caption-xl">Project overview</span>
 

  <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxwords="200">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="proPropsal">
        Provide an overview of the proposed project
      </label>
    </h1>
     <p class="govuk-body">Give a short summary of the project including: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>he works needed to deliver the new nursery places, such as refurbishment, extensions or improvements </li>
        <li>A justification of the project costs, including any abnormal or higher than usual costs </li>
      </ul>
    <textarea class="govuk-textarea govuk-js-character-count" id="proPropsal" name="proPropsal" rows="7" aria-describedby="proPropsal-info"></textarea>
    <div id="proPropsal-info" class="govuk-hint govuk-character-count__message">
      You can enter up to 750 words
    </div>
  </div>


 



      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
