{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Project Overview - Upload photographs of current site and design photos - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-2/costings-and-logistics/project-overview/your-uploaded-photographs" method="post">

  <span class="govuk-caption-xl">Project Overview</span>
  <h1 class="govuk-heading-l">Upload photographs of current site and design photos</h1>

  <p class="govuk-body">You must provide photographs of any affected spaces within the school.</p>

  <p class="govuk-body">This can help us justify any higher costs, especially if the space is in poor condition.</p>

  <div class="govuk-inset-text">
     <p class="govuk-body">Your photographs must be in PNG, JPG, or JPEG format, or you can upload the photographs collectively in a ZIP file.</p> <p class="govuk-body">Your file must be smaller than 20MB.</p> 
  </div>

 

  <div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-2">
    Upload a file
  </label>
  <input class="govuk-file-upload" id="file-upload-2" name="fileUpload2" type="file">
  </div>
 



    <div class="govuk-button-group">
    {{ govukButton({
    text: "Upload file",
          href: ""
    }) }}

    {{ govukButton({
    text: "Continue without uploading another file",
    classes: "govuk-button--secondary"
  }) }}
    </div>

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
