{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
New nursery provision and capacity - Check your answers - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/phase-3/tasklist?proCapacity=Complete" method="post">

      <span class="govuk-caption-xl">New nursery provision and capacity</span>
      <h1 class="govuk-heading-l">Check your answers</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           {% if data['existProvision'] == "No" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the project have existing nursery provision?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['existProvision'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Does the project have existing nursery provision?</span></a>
            </dd>
          </div>
        </dl>

        {% else %}

         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the project have existing nursery provision?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['existProvision'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Does the project have existing nursery provision?</span></a>
            </dd>
          </div>
        </dl>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Nursery capacity for academic year 2025 to 2026
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Nursery capacity for academic year 2025 to 2026</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Under the age of 2
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['under-2'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  2 years of age	
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['2-years'] }}
                </dd>
              </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  3-4 years of age
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['3-years'] }}
                </dd>
              </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total	
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
             What is the current opening hours of the existing nursery provision?
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Quote 1 breakdown</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Monday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['cm-start'] }} - {{ data['cm-end'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Tuesday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['ct-start'] }} - {{ data['ct-end'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Wednesday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['cw-start'] }} - {{ data['cw-end'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Thursday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['cth-start'] }} - {{ data['cth-end'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Friday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['cf-start'] }} - {{ data['cf-end'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>


        {% if data['holidayChildcare'] == "Yes" %}
         <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
             What will be the holiday opening hours of the nursery provision?
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Quote 1 breakdown</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Monday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['m-start-hol'] }} - {{ data['m-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Tuesday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['t-start-hol'] }} - {{ data['t-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Wednesday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['w-start-hol'] }} - {{ data['w-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Thursday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['th-start-hol'] }} - {{ data['th-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Friday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['f-start-hol'] }} - {{ data['f-end-hol'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
         {% endif %}

         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you currently provide holiday childcare?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['currentholidayChildcare'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Do you currently provide holiday childcare?</span></a>
            </dd>
          </div>
        </dl>

         {% if data['currentholidayChildcare'] == "Yes" %}
         <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
             What will be the holiday opening hours of the nursery provision?
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Quote 1 breakdown</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Monday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['m-start-hol'] }} - {{ data['m-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Tuesday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['t-start-hol'] }} - {{ data['t-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Wednesday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['w-start-hol'] }} - {{ data['w-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Thursday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['th-start-hol'] }} - {{ data['th-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Friday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['f-start-hol'] }} - {{ data['f-end-hol'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
         {% endif %}

         {% endif %}
      
         {{ govukButton({
          text: "Save and continue",
          href: ""
         }) }}

        </form>
      </div>
    </div>
  </main>
</div>



      
  


  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
