{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Project timeline - Project timeline information - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form action="/phase-1/costings-and-logistics/check-your-answers-timeline" method="post">

    <span class="govuk-caption-xl">Project timeline</span>
    <h1 class="govuk-heading-xl">Project timeline information</h1>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="design-complete-received-hint">
      <legend class="govuk-fieldset__legend">
        Design completed
      </legend>
      <div id="design-complete-received-hint" class="govuk-hint">
        For example, 27 3 2024
      </div>
      <div class="govuk-date-input" id="design-complete-received">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="design-complete-received-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="design-complete-received-day" name="design-complete-received-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="design-complete-received-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="design-complete-received-month" name="design-complete-received-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="design-complete-received-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="design-complete-received-year" name="design-complete-received-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="approval-secured-received-hint">
      <legend class="govuk-fieldset__legend">
        Planning approval secured
      </legend>
      <div class="govuk-date-input" id="approval-secured-received">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="approval-secured-received-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="approval-secured-received-day" name="approval-secured-received-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="approval-secured-received-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="approval-secured-received-month" name="approval-secured-received-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="approval-secured-received-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="approval-secured-received-year" name="approval-secured-received-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="tender-secured-received-hint">
      <legend class="govuk-fieldset__legend">
        Date tender process begins
      </legend>
      <div class="govuk-date-input" id="tender-secured-received">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="tender-secured-received-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="tender-secured-received-day" name="tender-secured-received-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="tender-secured-received-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="tender-secured-received-month" name="tender-secured-received-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="tender-secured-received-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="tender-secured-received-year" name="tender-secured-received-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="project-start-received-hint">
      <legend class="govuk-fieldset__legend">
        Project start date
      </legend>
      <div class="govuk-date-input" id="project-start-received">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="project-start-received-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="project-start-received-day" name="project-start-received-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="project-start-received-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="project-start-received-month" name="project-start-received-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="project-start-received-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="project-start-received-year" name="project-start-received-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="project-end-received-hint">
      <legend class="govuk-fieldset__legend">
        Project end date
      </legend>
      <div class="govuk-date-input" id="project-end-received">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="project-end-received-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="project-end-received-day" name="project-end-received-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="project-end-received-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="project-end-received-month" name="project-end-received-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="project-end-received-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="project-end-received-year" name="project-end-received-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="nursery-open-received-hint">
      <legend class="govuk-fieldset__legend">
        Date nursery provision will open
      </legend>
      <div class="govuk-date-input" id="nursery-open">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="nursery-open-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="nursery-open-day" name="nursery-open-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="nursery-open-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="nursery-open-month" name="nursery-open-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="nursery-open-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="nursery-open-year" name="nursery-open-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
      
    {{ govukButton({
    text: "Continue",
          href: ""
    }) }}

</form>
</div>

    </div>
  </div>



{% endblock %}
