{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Quotes - What quotes have you received for the work? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-1/costings-and-logistics/check-your-answers-quotes" method="post">

  <span class="govuk-caption-xl">Quotes</span>
  <h1 class="govuk-heading-l">What quotes have you received for the work?</h1>
 
  <p class="govuk-body">Enter information about any quotes received from a competitive tender.</p>
  <p class="govuk-body">You must provide:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a minimum of one quantified cost breakdown from a professional cost consultant or assessed competitive quantified quotation</li>
      <li>details of quotes received from a competitive tender exercise, if undertaken</li>
    </ul>
  
  <p class="govuk-body">You can refer to the cost certainty section in <a class="govuk-link" href="#">our guidance (opens in a new tab)</a> for more information.</p>
  <p class="govuk-body">Add the details for one quote at a time using the form below. If you need to add multiple quotes, you will have the opportunity to do so on the next page.</p>

  <div class="govuk-form-group">
    <label class="govuk-label" for="companyName">
      Company name
    </label>
    <input class="govuk-input" id="companyName" name="companyName" type="text">
  </div>

 <div class="govuk-form-group">
    <label class="govuk-label" for="cost">
      What is the cost in pounds?
    </label>
    <div id="cost-hint" class="govuk-hint">
      For example, 1,100
    </div>
    <div class="govuk-input__wrapper">
      <div class="govuk-input__prefix" aria-hidden="true">£</div>
      <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
    </div>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="quote-was-received-hint">
      <legend class="govuk-fieldset__legend">
        Date quote was received
      </legend>
      <div id="quote-was-received-hint" class="govuk-hint">
        For example, 27 3 2024
      </div>
      <div class="govuk-date-input" id="quote-was-received">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="quote-was-received-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="quote-was-received-day" name="quote-was-received-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="quote-was-received-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="quote-was-received-month" name="quote-was-received-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="quote-was-received-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quote-was-received-year" name="quote-was-received-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="additional-info">
      Add any other additional information about this quote
    </label>
    <textarea class="govuk-textarea" id="additional-info" name="additional-info" rows="7"></textarea>
  </div>

  <div class="govuk-inset-text">
    <p class="govuk-body">Your quote must be in PDF format and smaller than 20MB.</p>
    <p class="govuk-body">If you cannot reduce the size, email the documents and your unique reference number (URN) to<a class="govuk-link" href="#"> images.schoolnurseries@education.gov.uk</a></p>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="file-quote-1">
      Upload a file
    </label>
    <input class="govuk-file-upload" id="file-quote-1" name="filequote1" type="file">
  </div>

  </div>
  </div>

  <div class="govuk-button-group">
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

    {{ govukButton({
    text: "Continue without adding another quote",
    classes: "govuk-button--secondary"
    }) }}
  </div>

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
