{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Apply for a School-Based Nurseries Capital Grant - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form action="/phase-1/eligibility/will-the-nursery-be-located-on-the-school-premises" method="post">


    <h1 class="govuk-heading-xl">Apply for a School-Based Nurseries Capital Grant</h1>

    <p class="govuk-body">The <a href="">School-Based Nurseries Capital Grant (opens in a new tab)</a> is a one-time grant available for eligible schools in England to bid for up to £150,000.00.</p>
    <p class="govuk-body">The funding must be used exclusively for capital expenditure, to repurpose surplus space within the school estate for nursery provision.</p>

    <p class="govuk-body">All bids for new, or extensions to existing nursery provisions must be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>directly linked to a school</li>
        <li>governed by that school or multi-academy trust</li>
        <li>delivered in partnership with a Private, Voluntary or Independent Childcare Provider or with childminders in a school-based setting</li>
      </ul>
    
    <p class="govuk-body">For more information and help on applying, you can read our <a href="">guidance on the School-Based Nurseries Capital Grant (opens in a new tab)</a>.</p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        The deadline to apply is midday on Thursday, 19 December 2024
      </strong>
    </div>

    <h2 class="govuk-heading-l">Before you start</h2>
    <p class="govuk-body">To use this service you must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be a school or a trust applying on behalf of a school</li>
        <li>have a DfE Sign-in account</li>
        <li>be a school leader, Multi-Academy Trust or school business partner</li>
      </ul>

    <p class="govuk-body">If you do not wish to submit an application at this time, you can <a href="">register your interest for a future round</a>.</p>

    <p class="govuk-body">By continuing, you confirm that you agree to our:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">privacy notice (opens in new tab)</a> which explains how we use your personal information</li>
        <li><a href="">terms and conditions (opens in new tab)</a></li>
      </ul>



      <div class="govuk-button-group">
        {{ govukButton({
          text: "Check your eligibility",
          href: "/phase-1/eligibility/will-the-nursery-be-located-on-the-school-premises",
          isStartButton: true
        }) }}

        <a class="govuk-link" href="/phase-1/applications">View or continue an existing application</a>

    </div>


</form>
</div>

    </div>
  </div>



{% endblock %}
