{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Project timeline - Check your answers - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="/phase-2/tasklist?timeline=Complete" method="post">

      <span class="govuk-caption-xl">Project timeline</span>
      <h1 class="govuk-heading-l">Check your answers</h1>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
             Project timeline
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/phase-2/costings-and-logistics/project-timeline">Change<span class="govuk-visually-hidden"> Quote 1 breakdown</span></a>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Design Completed
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['design-complete-received-day'] }}/{{ data['design-complete-received-month'] }}/{{ data['design-complete-received-year'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Planning approval secured
                </dt>
                <dd class="govuk-summary-list__value">
                   {{ data['approval-secured-received-day'] }}/{{ data['approval-secured-received-month'] }}/{{ data['approval-secured-received-year'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date tender process begins
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['tender-secured-received-day'] }}/{{ data['tender-secured-received-month'] }}/{{ data['tender-secured-received-year'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Project start date
                </dt>
                <dd class="govuk-summary-list__value">
                   {{ data['project-start-received-day'] }}/{{ data['project-start-received-month'] }}/{{ data['project-start-received-year'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Project end date
                </dt>
                <dd class="govuk-summary-list__value">
                   {{ data['project-end-received-day'] }}/{{ data['project-end-received-month'] }}/{{ data['project-end-received-year'] }}
                </dd>
              </div>
               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date nursery provision will open
                </dt>
                <dd class="govuk-summary-list__value">
                   {{ data['nursery-open-day'] }}/{{ data['nursery-open-month'] }}/{{ data['nursery-open-year'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>


        {{ govukButton({
          text: "Save and continue",
          href: ""
         }) }}


        </form>
      </div>
    </div>
  </main>
</div>



      
  


  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
