{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Project and additional funding costs - What type of project is it? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-2/costings-and-logistics/how-much-grant" method="post">

  <span class="govuk-caption-xl">Project and additional funding costs</span>

   <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What type of project is it?
          </h1>
        </legend>
        <div id="projectType-hint" class="govuk-hint">
        Select one option
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="projectType" name="projectType" type="radio" value="New build">
            <label class="govuk-label govuk-radios__label" for="projectType">
              New build
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="projectType-2" name="projectType" type="radio" value="Extension">
            <label class="govuk-label govuk-radios__label" for="uprojectType-2">
              Extension
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="projectType-3" name="projectType" type="radio" value="Remodel">
            <label class="govuk-label govuk-radios__label" for="projectType-3">
              Remodel
            </label>
          </div>
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="projectType-4" name="projectType" type="radio" value="Refurbishment">
            <label class="govuk-label govuk-radios__label" for="projectType-4">
              Refurbishment
            </label>
          </div>
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="projectType-5" name="projectType" type="radio" value="Heavy refurbishment">
            <label class="govuk-label govuk-radios__label" for="projectType-5">
              Heavy refurbishment
            </label>
          </div>
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="projectType-6" name="projectType" type="radio" value="Refresh">
            <label class="govuk-label govuk-radios__label" for="projectType-6">
              Refresh
            </label>
          </div>
        </div>
      </fieldset>
    </div>


      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
