{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Project overview - Could this nursery project impact the delivery of School rebuilding programme capital works? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-3-2/project-overview/bsfh-school" method="post">

  <span class="govuk-caption-xl">Project overview</span>
 

  <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxwords="200">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="esbOverview">
        Could this nursery project impact the delivery of School rebuilding programme capital works? 
      </label>
    </h1>
     <p class="govuk-body">Summarise the discussions had with DfE School rebuilding programme delivery team highlighting issues, risks or dependencies that could affect SRP delivery.</p>

    <textarea class="govuk-textarea govuk-js-character-count" id="esbOverview" name="esbOverview" rows="7" aria-describedby="esbOverview-info"></textarea>
    <div id="esbOverview-info" class="govuk-hint govuk-character-count__message">
      You can enter up to 750 words
    </div>
  </div>


 



      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
