{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Holiday childcare - Check your answers - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/phase-2/tasklist?holiday=Complete" method="post">

      <span class="govuk-caption-xl">Holiday childcare</span>
      <h1 class="govuk-heading-l">Check your answers</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you currently provide holiday childcare?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['holidayChildcare'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Do you currently provide holiday childcare?</span></a>
            </dd>
          </div>
          {% if data['holidayChildcare'] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is your current total capacity for holiday childcare?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['holidayCapacity'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is your current total capacity for holiday childcare?</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data['holidayChildcare'] == "No" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will the DfE funding provide holiday childcare where it does not currently exist?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['dfeFunding'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Will the DfE funding provide holiday childcare where it does not currently exist?</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data['holidayChildcare'] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What will the holiday childcare capacity of the nursery provision be after the project is completed?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['capacityAfter'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What will the holiday childcare capacity of the nursery provision be after the project is completed?</span></a>
            </dd>
          </div>
          {% endif %}

        </dl>
      
         {{ govukButton({
          text: "Save and continue",
          href: ""
         }) }}

        </form>
      </div>
    </div>
  </main>
</div>



      
  


  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
