{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Applications - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

       <form action="/phase-3//submit/application-submitted" method="post">


    <h1 class="govuk-heading-xl">Applications</h1>

    <p class="govuk-body">On this page you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>start a new application</li>
        <li>manage applications that are in progress</li>
        <li>view previously submitted applications</li>
      </ul>

       {{ govukButton({
          text: "Start a new application",
          href: "",
          isStartButton: true
        }) }}
    
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          The deadline to apply is midday on Thursday, 19 December 2024
        </strong>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Your applications</h2>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application reference</th>
          <th scope="col" class="govuk-table__header">Organisation</th>
          <th scope="col" class="govuk-table__header">Round</th>
          <th scope="col" class="govuk-table__header">Created on</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="design-history">APP-20250827-D9Y4</a></th>
          <td class="govuk-table__cell">SBN Test: Min Age 2</td>
          <td class="govuk-table__cell">Phase 1</td>
          <td class="govuk-table__cell">27/08/2025 12:19 PM</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Submitted</strong></td>
        </tr>
      </tbody>
    </table>
   


</form>
</div>

    </div>
  </div>



{% endblock %}
