{% extends "layouts/dfe-header.html" %}

{% block pageTitle %}
Apply for a School-Based Nurseries Capital Grant - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form action="" method="post">


    <h1 class="govuk-heading-xl">Apply for a School-Based Nurseries Capital Grant</h1>
    <p class="govuk-body">This service is for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>schools to view previous phase 1 or 2 nursery applications</li>
        <li>local authorities to submit phase 3 proposals</li>   
      </ul>

    <h2 class="govuk-heading-l">Phase 1 and 2 applications </h2>
    <p class="govuk-body">Applications for phase 1 and 2 have now closed, and successful applications have been announced. You can sign into the service to view and download previous applications.</p>

    <h2 class="govuk-heading-l">Local authorities can now apply for phase 3</h2>
    <p class="govuk-body">Local authorities can use this service to submit multi-year funding proposals setting out project plans for new or expanded school-based nurseries in their area.</p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
          Applications close at 5pm on Monday 14 September 2026
      </strong>
    </div>

    <p class="govuk-body">Read the guidance on the <a href="">School-based nursery capital grant 2027 to 2030 (link opens in new tab)</a> before you apply.</p>

    <h3 class="govuk-heading-m">Before you start</h3>
    <p class="govuk-body">You should prepare a separate proposal for every school-based nursery you want to create or expand.</p>
    <p class="govuk-body">When applying, you will need to collect information from the school about the project and include it in your application. You’ll be asked about the school’s approach to early years education, local childcare needs, the project’s feasibility and costs, and key milestones.</p>

    <h3 class="govuk-heading-m">If you are a school</h3>
    <p class="govuk-body">Individual schools can not apply for the phase 3 grant. Schools must ask their local authority to apply on their behalf. Before contacting the local authority, read the guidance on <a href="">establishing school-based nursery provision (link opens in new tab)</a>.</p>

    <p class="govuk-body">You will need a DFE Sign-in account to use this service.</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Sign in or apply",
          href: "/phase-3/dfe-sign-in-email",
          isStartButton: true
        }) }}

    </div>


</form>
</div>

    </div>
  </div>



{% endblock %}
