{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Apply for a School-Based Nurseries Capital Grant - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form action="check-your-answers" method="post">

    <span class="govuk-caption-xl">APP-20250827-D9Y4</span>
    <h1 class="govuk-heading-xl">Bowland high</h1>


    <p class="govuk-body">Castle Road, Pucklechurch, Bristol, South Gloucestershire, BS16 9RF<br>
                  URN: 135300, DfE number: 801/6907 UKPRN: 10021092</p>
  

    <h3 class="govuk-heading-s">You have completed 0 of 12 sections</h3>
  

    <h2 class="govuk-heading-m">1. About your school or Best Start Family Hub  </h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-3/current-provision/existing-nursery-provision?proCapacity=inProgress" aria-describedby="company-details-1-status">
            Current nursery provision and capacity
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['proCapacity'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['proCapacity'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-3/delivery-of-nursery/nursery-provision?newProvision=inProgress" aria-describedby="company-details-1-status">
            Delivery of new nursery provision 
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['newProvision'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['newProvision'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-3/new-nursery-provision/new-nursery-capacity?newNursery=inProgress" aria-describedby="company-details-1-status">
            New nursery provision and capacity
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['newNursery'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['newNursery'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-3/opening-times-childcare/operating-hours?timesHoliday=inProgress" aria-describedby="company-details-1-status">
            Opening times and holiday childcare  
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['timesHoliday'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['timesHoliday'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %} 
        </div>
      </li>
    </ul>

    <h2 class="govuk-heading-m">2. About the project</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-3/project-timeline/project-timeline-info?timeline=inProgress" aria-describedby="company-details-1-status">
            Project timeline
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['timeline'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['timeline'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-3/project-and-funding/what-type-of-project?proCosts=inProgress" aria-describedby="company-details-1-status">
            Project and additional funding costs
          </a>
        </div>
         <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['proCosts'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['proCosts'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="?planning=inProgress" aria-describedby="company-details-1-status">
            Planning permission, significant change and childcare registration 
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['planning'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['planning'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="?proOverview=inProgress" aria-describedby="company-details-1-status">
            Project overview 
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['proOverview'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['proOverview'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
    </ul>

    <h2 class="govuk-heading-m">3. Declaration</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="?overview=inProgress" aria-describedby="company-details-1-status">
          Quality declaration
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['overview'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['overview'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
    </ul>

 <p><a class="govuk-link" href="/phase-3/applications">Return to applications</a></p> 
</form>
</div>

    </div>
  </div>



{% endblock %}
