{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Project and additional funding costs - Project costs - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form action="/phase-3/project-and-funding/how-much-grant" method="post">

    <span class="govuk-caption-xl">Project and additional funding costs</span>
    <h1 class="govuk-heading-l">Project costs</h1>

    <p class="govuk-body">You must provide information on:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the total amount of DfE Capital Grant you are applying for</li>
        <li>any additional funding you are recieving</li>
        <li>a breakdown of all relevant costs</li>
      </ul>

      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
</div>

    </div>
  </div>



{% endblock %}
