{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Eligibility - Check your answers - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/phase-1/tasklist?capacity=Complete" method="post">

      <span class="govuk-caption-xl">Nursery provision and capacity</span>
      <h1 class="govuk-heading-l">Check your answers</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will you be reducing capacity for school-aged pupils to accommodate the nursery provision?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['reduceCapacity'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Will you be reducing capacity for school-aged pupils to accommodate the nursery provision?</span></a>
            </dd>
          </div>
          {% if data['reduceCapacity'] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              By how many places will your capacity be reduced?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['manyPlaces'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> By how many places will your capacity be reduced?</span></a>
            </dd>
          </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What will the school's capacity be after the reduction?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['schoolsCapacityAfter'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What will the school's capacity be after the reduction?</span></a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the school currently provide term-time nursery provision?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['nurseryProvision'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Does the school currently provide term-time nursery provision?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who will run the term-time nursery provision?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['deliverProvision'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Who will run the term-time nursery provision?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What will be the opening hours of the nursery provision?
            </dt>
            <dd class="govuk-summary-list__value">
              Monday: {{ data['m-start'] }} - {{ data['m-end'] }} <br>
              Tuesday: {{ data['t-start'] }} - {{ data['t-end'] }}  <br>
              Wednesday: {{ data['w-start'] }} - {{ data['w-end'] }}  <br>
              Thursday: {{ data['th-start'] }} - {{ data['th-end'] }}  <br>
              Friday: {{ data['f-start'] }} - {{ data['f-end'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What will be the opening hours of the nursery provision?</span></a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">Nursery capacity by age</h2>
        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Academic year 2024 to 2025
            </dt>
            <dd class="govuk-summary-list__value">
              Under the age of 2: {{ data['under-2'] }} <br>
              2 years of age: {{ data['2-years'] }} <br>
              3 years of age: {{ data['3-years'] }} <br>
              4 years of age: {{ data['4-years'] }} <br>
              Total:
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">  Academic year 2024 to 2025</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Academic year 2025 to 2026
            </dt>
            <dd class="govuk-summary-list__value">
                Under the age of 2: {{ data['under-2'] }} <br>
              2 years of age: {{ data['2-years'] }} <br>
              3 years of age: {{ data['3-years'] }} <br>
              4 years of age: {{ data['4-years'] }} <br>
              Total:
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Academic year 2025 to 2026</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Academic year 2026 to 2027
            </dt>
            <dd class="govuk-summary-list__value">
               Under the age of 2: {{ data['under-2'] }} <br>
              2 years of age: {{ data['2-years'] }} <br>
              3 years of age: {{ data['3-years'] }} <br>
              4 years of age: {{ data['4-years'] }} <br>
              Total:
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Academic year 2026 to 2027</span></a>
            </dd>
          </div>
        </dl>


      
         {{ govukButton({
          text: "Save and continue",
          href: ""
         }) }}

        </form>
      </div>
    </div>
  </main>
</div>



      
  


  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
