{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Bid coordinator details - Are you the bid coordinator for this application? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-3/tasklist-application?localAuthority=Complete" method="post">

<span class="govuk-caption-xl">LA contact information</span>
<h1 class="govuk-heading-xl">What is the tertiary contact for your local authority?</h1>

  <div class="govuk-form-group">
  <label class="govuk-label" for="la-contact-tertiary-name">
    Name (optional)
  </label>
  <input class="govuk-input" id="la-contact-tertiary-name" name="la-contact-tertiary-name" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="la-contact-tertiary-job">
    Job title (optional)
  </label>
  <input class="govuk-input" id="la-contact-tertiary-job" name="la-contact-tertiary-job" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="la-contact-tertiary-email">
    Email (optional)
  </label>
  <input class="govuk-input" id="la-contact-tertiary-email" name="la-contact-tertiary-email" type="text">
</div>



      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
