{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
PVI or childminder partner - What is the name of the PVI provider or childminder? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-3/delivery-of-nursery/pvi-number" method="post">

  <span class="govuk-caption-xl">PVI or childminder partner</span>

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="pviProvider">
       What is the name of the PVI provider or childminder?
      </label>
    </h1>
    <input class="govuk-input" id="pviProvider" name="pviProvider" type="text" aria-describedby="event-name-hint">
  </div>



      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
