{% extends "layouts/dfe-header.html" %}

{% block pageTitle %}
  Page by page listings – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        (Phase 1) Page by page listings
      </h1>

      <p class="govuk-body-s">Last updated 02 September 2025</p>
      <p><a href="/admin/data">Data been stored as part of current session</a></p>
      <p><a href="/manage-prototype/clear-data">Clear data</a></p>


            <h2>Home applications</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/home" >Apply for a School-Based Nurseries Capital Grant</a></li>
              <li><a class="govuk-link" href="/phase-2/applications" >Applications</a></li>
            </ul>

            <h2>Check your eligibility</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/eligibility/will-the-nursery-be-located-on-the-school-premises" >Will the nursery be located on the school premises?</a></li>
              <li><a class="govuk-link" href="/phase-2/eligibility/how-will-the-nursery-provision-be-delivered" >How will the nursery provision be delivered?</a></li>
              <li><a class="govuk-link" href="/phase-2/eligibility/is-the-project-using-available-space" >Is the project using available space in the school buildings to create new nursery places?</a></li>
              <li><a class="govuk-link" href="/phase-2/eligibility/local-authority-lead-been-consulted" >Has your Local Authority Early Years lead been consulted before starting this application?</a></li>
              <li><a class="govuk-link" href="/phase-2/eligibility/local-authority-pupil-lead-been-consulted" >Has your Local Authority Pupil Place Planning lead been consulted before starting this application?</a></li>
              <li><a class="govuk-link" href="/phase-2/eligibility/does-your-local-authority-agree" >Does your Local Authority agree with the proposal for a school-based nursery?</a></li>
              <li><a class="govuk-link" href="/phase-2/eligibility/can-the-project-be-delivered" >Can the project be delivered with up to £150,000.00 of DfE capital funding, or in combination with funding from other sources?</a></li>
              <li><a class="govuk-link" href="/phase-2/eligibility/relevant-freehold-landowner" >Has the relevant freehold landowner agreed to the use of their land for the nursery provision and any necessary capital works?</a></li>
              <li><a class="govuk-link" href="/phase-2/eligibility/check-your-answers" >Check your answers</a></li>
              <li><a class="govuk-link" href="/phase-2/eligibility/you-are-not-eligible" >You are not eligible for the School Based Nursery Capital Grant</a></li>
              <li><a class="govuk-link" href="/phase-2/eligibility/you-are-eligible" >You are eligible for the School Based Nursery Capital Grant</a></li>
            </ul>

            <h2>Tasklist</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/tasklist" >Tasklist</a></li>
            </ul>
            
            <h2>About your school or trust</h2>
            <h3>Bid coordinator detials</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/about-your-school/your-current-bid-coordinator" >Your current bid coordinator</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/provide-your-current-bid-coordinator" >Provide bid coordinator details for the application</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/are-you-the-bid-coordinator" >Are you the bid coordinator for this application?</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/bid-coordinator-email" >What is your bid coordinator's email?</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/provide-your-current-bid-coordinator-application" >Provide bid coordinator details for the application</a></li>
            </ul>

            <h3>Nursery provision and capacity</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/about-your-school/will-you-be-reducing-capacity" >Will you be reducing capacity for school-aged pupils to accommodate the nursery provision?</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/how-many-places" >By how many places will your capacity be reduced?</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/schools-capacity-after" >What will the school's capacity be after the reduction?</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/does-the-school-provide-nursery" >Does the school currently provide nursery provision during the academic year?</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/who-will-deliver-the-provision" >Who will deliver the nursery provision?</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/operating-hours" >What will be the operating hours of the nursery provision?</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/capacity-for-academic-years" >Nursery capacity for academic years 2024 to 2027</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/nursery-capacity-24-25" >Nursery capacity for academic year 2024 to 2025</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/nursery-capacity-25-26" >Nursery capacity for academic year 2025 to 2026</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/nursery-capacity-26-27" >Nursery capacity for academic year 2026 to 2027</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/check-your-answers" >Check your answers</a></li>
            </ul>

            <h3>Holiday Childcare</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/holiday-childcare/do-you-currently-provide-holiday" >Do you currently provide holiday childcare?</a></li>
              <li><a class="govuk-link" href="/phase-2/holiday-childcare/capacity-for-holiday" >What is your current total capacity for holiday childcare?</a></li>
              <li><a class="govuk-link" href="/phase-2/holiday-childcare/dfe-provide-funding" >Will the DfE funding provide holiday childcare where it does not currently exist?</a></li>
              <li><a class="govuk-link" href="/phase-2/holiday-childcare/capacity-after-project" >What will the holiday childcare capacity of the nursery provision be after the project is completed?</a></li>
            </ul>

            <h2>About the project</h2>
            <h3>Project information</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/about-your-project/project-proposal" >Project proposal and funding</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/upload-site-plan" >Upload site and layout plan</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/your-uploaded-site-plan" >Your uploaded site and layout plan files</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/upload-photographs" >Upload photographs of affected spaces</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/your-uploaded-photographs" >Your uploaded photographs of affected spaces</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/check-your-answers" >Check your answers</a></li>
            </ul>

            <h3>Local need, educational approach and sustainability of provision</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/about-your-project/evidence-of-local-childcare-needs" >Evidence of local childcare needs</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/approach-to-early-years-learning" >Approach to early years learning</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/delivery-and-sustainability" >Delivery and sustainability</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/check-your-answers-approach" >Check your answers</a></li>
            </ul>

            <h3>Local consultation</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/about-your-project/project-undergone-consultation" >Has this project undergone a minimum of 3 to 4 weeks consultation with interested local parties, as recommended by DfE?</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/upload-local-consultation" >Upload local consultation details</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/your-uploaded-consultation-details" >Your uploaded consultation details files</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/consultation-information" >Provide more information</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-project/check-your-answers-consultation" >Check your answers</a></li>
            </ul>

            <h2>Costings and logistics</h2>
            <h3>Project and additional funding costs</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/project-costs" >Project costs</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/what-type-of-project" >What type of project is it?</a></li>
              <li><a class="govuk-link" href="/phase-2/about-your-school/are-you-the-bid-coordinator" >Are you the bid coordinator for this application?</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/how-much-grant" >How much DfE Capital Grant funding are you applying for?</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/receiving-additional-funding" >Will you be receiving additional funding from other sources?</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/additional-funding-information" >Additional funding information</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/breakdown-of-costs" >Breakdown of project costs</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/check-your-answers" >Check your answers</a></li>
            </ul>

            <h3>Quotes</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/what-quotes-have-you-received" >What quotes have you received for the work?</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/check-your-answers-quotes" >Check your answers</a></li>
            </ul>

            <h3>Project timeline</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/project-timeline-info" >Project timeline information</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/check-your-answers-timeline" >Check your answers</a></li>
            </ul>

            <h3>Planning permission</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/planning-permission-required" >Is planning permission required for this project?</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/what-stage" >At what stage is your planning permission at?</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/planning-more-information" >Provide more information</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/check-your-answers-planning" >Check your answers</a></li>
            </ul>

            <h3>Project risks</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/what-risks" >What risks do you have for the project?</a></li>
              <li><a class="govuk-link" href="/phase-2/costings-and-logistics/check-your-answers-risks" >Check your answers</a></li>
            </ul>

            <h2>Submit</h2>
            <h3>Submit your application</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/phase-2/submit/submit-application" >Submit your appliation</a></li>
              <li><a class="govuk-link" href="/phase-2/submit/application-submitted" >Confirmation page</a></li>
            </ul>






    </div>
  </div>

{% endblock %}
