{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Apply for a School-Based Nurseries Capital Grant - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form action="check-your-answers" method="post">

    <span class="govuk-caption-xl">APP-20250827-D9Y4</span>
    <h1 class="govuk-heading-xl">Apply for a School-Based Nurseries Capital Grant</h1>

    <p class="govuk-body">The application process is arranged into stages. Each stage contains one or more sections with questions relating to your application.</p>
    <p class="govuk-body">Once you have completed all the sections, you can submit your answers to us to assess.</p>

    <h3 class="govuk-heading-s">You have completed 0 of 12 sections</h3>
  

    <h2 class="govuk-heading-m">1. About your school or trust</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-2/about-your-school/bid-coordinator-details/are-you-the-bid-coordinator?coordinator=inProgress" aria-describedby="company-details-1-status">
            Bid coordinator details
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['coordinator'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['coordinator'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-2/about-your-school/current-nursery/school-have-existing-nursery?capacity=inProgress" aria-describedby="company-details-1-status">
            Current nursery provision and capacity
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['capacity'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['capacity'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
    </ul>

    <h2 class="govuk-heading-m">2. About the project</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-2/about-your-project/project-info/what-type-of-project?costs=inProgress" aria-describedby="company-details-1-status">
            Project information
          </a>
        </div>
         <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['costs'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['costs'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-2/costings-and-logistics/project-timeline-info?timeline=inProgress" aria-describedby="company-details-1-status">
            Project timeline
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['timeline'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['timeline'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-2/costings-and-logistics/planning-permission-required?planning=inProgress" aria-describedby="company-details-1-status">
            Planning permission
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['planning'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['planning'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
    </ul>

    <h2 class="govuk-heading-m">3. Costings and logistics</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-2/costings-and-logistics/project-costs?costs=inProgress" aria-describedby="company-details-1-status">
            Project and additional funding costs
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['costs'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['costs'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-2/about-your-project/evidence-of-local-childcare-needs?childcare=inProgress" aria-describedby="company-details-1-status">
            Local need, educational approach and sustainability of provision
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
         {% if data['childcare'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['childcare'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
       <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-2/holiday-childcare/do-you-currently-provide-holiday?holiday=inProgress" aria-describedby="company-details-1-status">
            Holiday childcare
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
          {% if data['holiday'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['holiday'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-2/costings-and-logistics/what-quotes-have-you-received?quotes=inProgress" aria-describedby="company-details-1-status">
            Quotes
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['quotes'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['quotes'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-2/costings-and-logistics/what-risks?risks=inProgress" aria-describedby="company-details-1-status">
            Project risks
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        {% if data['risks'] == "inProgress" %}
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
        {% elif data['risks'] == "Complete" %}
        <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        {% endif %}
        </div>
      </li>
    </ul>

     <h2 class="govuk-heading-m">4. Submit</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/phase-2/submit/submit-application" aria-describedby="company-details-1-status">
            Submit your application
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--grey">
          Not started
        </strong>
        </div>
      </li>
    </ul>

</form>
</div>

    </div>
  </div>



{% endblock %}
