{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Bid coordinator details - Are you the bid coordinator for this application? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="can-the-project-be-delivered" method="post">

  <span class="govuk-caption-xl">Bid coordinator details</span>

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Are you the bid coordinator for this application?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bidCoordinator" name="bidCoordinator" type="radio" value="Yes~/phase-1/about-your-school/provide-your-current-bid-coordinator">
        <label class="govuk-label govuk-radios__label" for="localAuthority">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bidCoordinator-2" name="bidCoordinator" type="radio" value="No~/phase-1/about-your-school/bid-coordinator-email">
        <label class="govuk-label govuk-radios__label" for="bidCoordinator-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>



      
    {{ govukButton({
    text: "Continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
