{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Project information - Upload site and layout plan - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-1/about-your-project/your-uploaded-site-plan" method="post">

  <span class="govuk-caption-xl">Project information</span>
  <h1 class="govuk-heading-l">Upload site and layout plan</h1>

  <p class="govuk-body">You must upload an existing floor plan with any marked changes.</p>

  <p class="govuk-body">You must include a site plan showing the full school grounds. It should details the areas where:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>work will be carried out</li>
      <li>the school is legally responsible for managing</li>
    </ul>

  <p class="govuk-body">These plans will help assess if the planned works match the number of new places being provided.</p>

  <div class="govuk-inset-text">
     <p class="govuk-body">Your file must be in PDF format and smaller than 20MB.</p> <p class="govuk-body">If you cannot reduce the size, email the documents and your unique reference number (URN) to <a class="govuk-link" href="" >images.schoolnurseries@education.gov.uk</a></p>
  </div>

 

  <div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload a file
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
  </div>
 



      
    {{ govukButton({
    text: "Upload file",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
