{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Project information - Early Years registration - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-3/about-your-project/project-info/project-goals" method="post">

  <span class="govuk-caption-xl">Project information</span>

   <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Early Years registration
          </h1>
        </legend>
        <div id="earlyReg-hint" class="govuk-hint">
        Tell us whether or not you need a new, or an updated, Early Years registration. Select one option.
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="earlyReg" name="earlyReg" type="radio" value="An update to an existing Ofsted Early Years registration">
            <label class="govuk-label govuk-radios__label" for="earlyReg">
              An update to an existing Ofsted Early Years registration
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="earlyReg-2" name="earlyReg" type="radio" value="A new Ofsted Early Years registration or registration with a Childminder Agency">
            <label class="govuk-label govuk-radios__label" for="earlyReg-2">
              A new Ofsted Early Years registration or registration with a Childminder Agency
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="earlyReg-3" name="earlyReg" type="radio" value="None of the above – our nursery will be exempt from Early Years registration">
            <label class="govuk-label govuk-radios__label" for="earlyReg-3">
              None of the above – our nursery will be exempt from Early Years registration
            </label>
          </div>
        </div>
      </fieldset>
    </div>


      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
