{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Planning permission, significant change and childcare registration - Check your answers - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/phase-3/tasklist?planning=Complete" method="post">

      <span class="govuk-caption-xl">Planning permission, significant change and childcare registration</span>
      <h1 class="govuk-heading-l">Check your answers</h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning permission required
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['planningPermission'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Planning permission required</span></a>
            </dd>
          </div>
          {% if data['planningPermission'] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning stage
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['planningPermissionstage'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Planning stage</span></a>
            </dd>
          </div>
          {% endif %}
          {% if ((data['planningPermissionstage'] == "I already have planning permission") or (data['planningPermission'] == "No")) %}
          {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Extra information
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['planningInfo'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Extra information</span></a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will the project will result in a reduction in capacity of physical teaching space i.e. classroom space by over 30 (i.e. 31 or more) places
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['projectGoals'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Which of the following statements apply to your project?</span></a>
            </dd>
          </div>
         {% if data['projectGoals'] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Consultation details
            </dt>
            <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">{{ data['fileUpload3'] }}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Consultation details</span></a>
            </dd>
          </div>
          {% else%}
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ofsted registration - will your nursery require any of the following?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['ofstedReg'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Does your project require a Significant Change Approval?</span></a>
            </dd>
          </div>
        </dl>


        {{ govukButton({
          text: "Save and continue",
          href: ""
         }) }}


        </form>
      </div>
    </div>
  </main>
</div>



      
  


  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
