{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Project timeline - Check your answers - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="/phase-3/tasklist?timeline=Complete" method="post">

      <span class="govuk-caption-xl">Project timeline</span>
      <h1 class="govuk-heading-l">Check your answers</h1>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
            Project timeline information
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Project timeline information</span></a>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Project start date
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['project-start-received-day'] }}/{{ data['project-start-received-month'] }}/{{ data['project-start-received-year'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Project end date	
                </dt>
                <dd class="govuk-summary-list__value">
                   {{ data['project-end-received-day'] }}/{{ data['project-end-received-month'] }}/{{ data['project-end-received-year'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date nursery provision will open
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['nursery-open-received-day'] }}/{{ data['nursery-open-received-month'] }}/{{ data['nursery-open-received-year'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>

         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will you be staggering the availability of places across the 2026 to 2027 academic year?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['stagAvailability'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Will you be staggering the availability of places across the 2026 to 2027 academic year?</span></a>
            </dd>
          </div>
           </dl>


        {{ govukButton({
          text: "Save and continue",
          href: ""
         }) }}


        </form>
      </div>
    </div>
  </main>
</div>



      
  


  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
