{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Local need, educational approach and sustainability of provision - Approach to early years learning - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-2/about-your-project/delivery-and-sustainability" method="post">

  <span class="govuk-caption-xl">Local need, educational approach and sustainability of provision</span>
  <h1 class="govuk-heading-l">Approach to early years learning</h1>

  <p class="govuk-body">Provide evidence regarding the approach your nursery would take towards early years learning.</p>

  <p class="govuk-body">Your answer should include how you plan to deliver high-quality early years provision, referencing <a class="govuk-link" href="" >Annex C of the Early Years Foundation Stage framework (opens in a new tab).</a></p>
    
   <p class="govuk-body">You can also provide evidence showing how the provision will improve outcomes for children from disadvantaged families.</p>

  <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
  <textarea class="govuk-textarea govuk-js-character-count" id="earlyApproach" name="earlyApproach" rows="10" aria-describedby="earlyApproach""></textarea>
  <div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message">
    You have 750 words remaining
  </div>
</div>
 



      
    {{ govukButton({
    text: "Continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
