{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Project and additional funding costs - Breakdown of project costs - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form action="/phase-2/costings-and-logistics/project-costs/check-your-answers" method="post">

    <span class="govuk-caption-xl">Project and additional funding costs</span>
    <h1 class="govuk-heading-l">Breakdown of project costs</h1>

    <p class="govuk-body">The total costs provided should match the full amount you are requesting, including both DfE funding and any additional funding from other sources.</p>
    <p class="govuk-body">If any costs are not applicable enter 0 in the field.</p>
    <p class="govuk-body">More information on this can be found in <a class="govuk-link" href="" >our guidance (opens in a new tab).</a></p>

    <div class="govuk-form-group">
      <label class="govuk-label" for="areaSize">
        Total indoor area size
      </label>
      <div class="govuk-input__wrapper">
        <input class="govuk-input govuk-input--width-5" id="areaSize" name="areaSize" type="text" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true">m²</div>
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="areaSize">
        Building works
      </label>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="build" name="build" type="text" spellcheck="false">
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="areaSize">
        External works
      </label>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="external" name="external" type="text" spellcheck="false">
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="areaSize">
        Abnormal items
      </label>
       <div id="authentication-code-hint" class="govuk-hint">
         Abnormal items are project-specific but not typical construction costs. For example asbestos removal or service upgrades
       </div>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="abnomral" name="abnomral" type="text" spellcheck="false">
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="areaSize">
        Furniture, fixtures and equipment
      </label>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="furniture" name="furniture" type="text" spellcheck="false">
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="areaSize">
        Survey and design fees
      </label>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="surveys" name="surveys" type="text" spellcheck="false">
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="areaSize">
        Technical advisor fees
      </label>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="tech" name="tech" type="text" spellcheck="false">
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="areaSize">
        Risk allowance
      </label>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="risk" name="risk" type="text" spellcheck="false">
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="areaSize">
        Irrecoverable VAT (if applicable)
      </label>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="vat" name="vat" type="text" spellcheck="false">
      </div>
    </div>

    <h3 class="govuk-heading-s">Total from cost breakdown</h3>
    <p class="govuk-body">0</p>




    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
</div>

    </div>
  </div>



{% endblock %}
