{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Project overview - Is your Best Start Family Hub co-located with a school? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-3/project-overview/check-your-answers" method="post">

    <span class="govuk-caption-xl">Project overview</span>

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Is your Best Start Family Hub co-located with a school?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsfhSchool" name="bsfhSchool" type="radio" value="Yes~/phase-3/project-overview/bsfh-information">
        <label class="govuk-label govuk-radios__label" for="bsfhSchool">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsfhSchool-2" name="bsfhSchool" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="bsfhSchool-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>



      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
