{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Planning permission - At what stage is your planning permission at? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

  <span class="govuk-caption-xl">Planning permission</span>

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
       At what stage is your planning permission at?
      </h1>
    </legend>
     <div id="changedName-hint" class="govuk-hint">
      Select one option
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="planningPermissionstage" name="planningPermissionstage" type="radio" value="I already have planning permission~/phase-1/costings-and-logistics/check-your-answers-planning">
        <label class="govuk-label govuk-radios__label" for="planningPermission">
          I already have planning permission
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="planningPermissionstage-2" name="planningPermissionstage" type="radio" value="I have applied for planning permission but waiting on the decision~/phase-1/costings-and-logistics/planning-more-information">
        <label class="govuk-label govuk-radios__label" for="planningPermissionstage-2">
          I have applied for planning permission but waiting on the decision
        </label>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="planningPermissionstage-3" name="planningPermissionstage" type="radio" value="I need to apply for planning permission~/phase-1/costings-and-logistics/planning-more-information">
        <label class="govuk-label govuk-radios__label" for="planningPermissionstage-2">
          I need to apply for planning permission
        </label>
      </div>
    </div>
  </fieldset>
</div>



      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
