{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Project information - Does your project require a Significant Change Approval? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-3/planning-permission/check-your-answers" method="post">

    <span class="govuk-caption-xl">Planning permission, significant change and childcare registration</span>

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What childcare registration action will the nursery need? 
      </h1>
    </legend>

     <p class="govuk-body">Schools, PVIs and providers delivering nursery places on a Best Start Family Hub site must register their nursery provision with Ofsted as a separate setting, unless they’re exempt. You should only start registration when you’re sure the new nursery places will open (for example, after receiving grant funding). Registration can take up to 12 weeks, so start it as soon as you can. Childminders may also need to register with Ofsted or with a childminder agency. Providers with an existing registration may need to update it before opening. </p>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ofstedReg" name="ofstedReg" type="radio" value="Ofsted will need to be told about changes to an existing early years registration">
        <label class="govuk-label govuk-radios__label" for="ofstedReg">
          Ofsted will need to be told about changes to an existing early years registration 
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ofstedReg-2" name="ofstedReg" type="radio" value="A new Ofsted early years registration or registration with a childminder agency will be required">
        <label class="govuk-label govuk-radios__label" for="ofstedReg-2">
          A new Ofsted early years registration or registration with a childminder agency will be required 
        </label>
      </div>
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ofstedReg-3" name="ofstedReg" type="radio" value="The nursery is exempt from early years registration">
        <label class="govuk-label govuk-radios__label" for="ofstedReg-3">
         The nursery is exempt from early years registration 
        </label>
      </div>
    </div>
  </fieldset>
</div>



      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
