{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Project information - Does your project require a Significant Change Approval? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-3/planning-permission/check-your-answers" method="post">

    <span class="govuk-caption-xl">Planning permission, significant change and childcare registration</span>

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Ofsted registration - will your nursery require any of the following?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ofstedReg" name="ofstedReg" type="radio" value="An update to an existing Ofsted early years registration">
        <label class="govuk-label govuk-radios__label" for="ofstedReg">
          An update to an existing Ofsted early years registration
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ofstedReg-2" name="ofstedReg" type="radio" value="A new Ofsted early years registration or registration with a Childminder Agency">
        <label class="govuk-label govuk-radios__label" for="ofstedReg-2">
          A new Ofsted early years registration or registration with a Childminder Agency
        </label>
      </div>
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ofstedReg-3" name="ofstedReg" type="radio" value="None of the above – our nursery will be exempt from Early Years registration">
        <label class="govuk-label govuk-radios__label" for="ofstedReg-3">
          None of the above – our nursery will be exempt from Early Years registration
        </label>
      </div>
    </div>
  </fieldset>
</div>



      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
