{% extends "layouts/dfe-header.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Enter your password
      </h1>

      <p class="govuk-body">Enter your password to sign into DFE Sign-in.</p>

      <form class="form" action="/phase-3-2/la-contact-information/la-contact-information" method="post" class="govuk-!-margin-top-9">
  


        <span class="govuk-label govuk-label--s">Email address</span>


        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              {{ data['login-email'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="" contenteditable="false" style="cursor: pointer;">Change<span class="govuk-visually-hidden"> Email address</span></a>
            </dd>
          </div>
        </dl>

        <div class="govuk-form-group ">
          <label class="govuk-label govuk-label--s" for="password">Password</label>
          <input class="password-input govuk-input govuk-!-width-three-quarters govuk-!-margin-right-1" id="password" name="password" type="password"  value="">
          <button type="button" class="show-password govuk-button govuk-button--secondary govuk-!-margin-bottom-1" aria-label="Show password">Show</button>
          <p class="govuk-body">
            <a class="govuk-link govuk-!-font-weight-bold" href="#" contenteditable="false" style="cursor: pointer;">
              Forgotten your password?</a>
          </p>
        </div>

        <div class="govuk-inset-text">
          <p class="govuk-body">By signing in you accept <a class="govuk-link govuk-!-font-weight-bold" href="#" contenteditable="false" style="cursor: pointer;">
            DfE Sign-in terms and conditions</a>.</p>
        </div>

        {{ govukButton({
          text: "Sign in"
        }) }}



      </form>

    </div>
  </div>

{% endblock %}
