{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Eligibility - Does the school currently provide nursery provision during the academic year? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-2/about-your-school/who-will-deliver-the-provision" method="post">

  <span class="govuk-caption-xl">Nursery provision and capacity</span>

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Does the school currently provide nursery provision during the academic year?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nurseryProvision" name="nurseryProvision" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="nurseryProvision">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nurseryProvision-2" name="nurseryProvision" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="nurseryProvision-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>



      
    {{ govukButton({
    text: "Continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
