{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Eligibility - Will you be reducing capacity for school-aged pupils to accommodate the nursery provision? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="can-the-project-be-delivered" method="post">

  <span class="govuk-caption-xl">Nursery provision and capacity</span>

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Will you be reducing capacity for school-aged pupils to accommodate the nursery provision?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reduceCapacity" name="reduceCapacity" type="radio" value="Yes~/phase-2/about-your-school/how-many-places">
        <label class="govuk-label govuk-radios__label" for="reduceCapacity">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reduceCapacity-2" name="reduceCapacity" type="radio" value="No~/phase-2/about-your-school/does-the-school-provide-nursery">
        <label class="govuk-label govuk-radios__label" for="reduceCapacity-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>



      
    {{ govukButton({
    text: "Continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
