{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Project and additional funding costs - Of the £{{ data['fund2728'] }}, how much is your contingency allowance?  - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-3/project-and-funding/preferred-funding-28-29" method="post">

  <span class="govuk-caption-xl">Project and additional funding costs</span>
  
   <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="con2728">
          Of the £{{ data['fund2728'] }}, how much is your contingency allowance?  
        </label>
      </h1>
      <div id="account-number-hint" class="govuk-hint">
        Enter the full amount. For example, 150000, 140000.50
      </div>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="con2728" name="con2728" type="text" spellcheck="false">
      </div>
    </div>
  


      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
