{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Eligibility - Does the school currently provide nursery provision during the academic year? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-3/about-your-school/operating-hours" method="post">

  <span class="govuk-caption-xl">Nursery provision and capacity</span>

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Who will deliver the nursery provision?
      </h1>
    </legend>
     <div id="provision-hint" class="govuk-hint">
      Select one option
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="deliverProvision" name="deliverProvision" type="radio" value="The school">
        <label class="govuk-label govuk-radios__label" for="deliverProvision">
          The school
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="deliverProvision-2" name="deliverProvision" type="radio" value="A Multi-Academy Trust">
        <label class="govuk-label govuk-radios__label" for="deliverProvision-2">
          A Multi-Academy Trust
        </label>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="deliverProvision-3" name="deliverProvision" type="radio" value="A governor">
        <label class="govuk-label govuk-radios__label" for="deliverProvision-3">
          A governor
        </label>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="deliverProvision-4" name="deliverProvision" type="radio" value="A private, voluntary and independent childcare provider (PVI)">
        <label class="govuk-label govuk-radios__label" for="deliverProvision-4">
          A private, voluntary and independent childcare provider (PVI)
        </label>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="deliverProvision-5" name="deliverProvision" type="radio" value="A childminder organisation or company">
        <label class="govuk-label govuk-radios__label" for="deliverProvision-5">
          A childminder organisation or company
        </label>
      </div>
        </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="deliverProvision-6" name="deliverProvision" type="radio" value="An individual childminder">
        <label class="govuk-label govuk-radios__label" for="deliverProvision-6">
          An individual childminder
        </label>
      </div>
    </div>
  </fieldset>
</div>
</div>



      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
