
<html lang="en" class="govuk-template"><plasmo-csui></plasmo-csui><plasmo-csui id="plasmo-inspector"></plasmo-csui><head>
  <meta charset="utf-8">
  <title>
Case [Insert Case Number] - invitation to participate in
procurement process - Get help buying for schools - GOV.UK
</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">

  
    <link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
    <link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/govuk-icon-mask.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/govuk-icon-180.png">
    <link rel="manifest" href="/plugin-assets/govuk-frontend/dist/govuk/assets/manifest.json">
  


  
  <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css">





  <link href="/public/sass/notify-branding.css" rel="stylesheet" type="text/css">


  
<style></style></head>
<body class="govuk-template__body js-enabled govuk-frontend-supported" contenteditable="false">
  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
  

  
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link" data-govuk-skip-link-init="" contenteditable="false" style="cursor: pointer;">Skip to main content</a>

  

  
  
  <header class="dfe-header" role="banner">
    <div class="govuk-width-container dfe-header">
        <div class="dfe-header__logo">
          <a class="dfe-header__link" href="/" aria-label="DfE homepage" contenteditable="false" style="cursor: pointer;">
          <img src="/public/images/dfe-logo.png" class="dfe-logo" alt="Department for Education">
          <img src="/public/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education">
          </a>
        </div>
    </div>
    <div class="govuk-width-container dfe-header__service-name">
        <a href="/" class="dfe-header__link--service" contenteditable="false" style="cursor: pointer;">Get help buying for schools</a>
    </div>
  </header>


  
    <div class="govuk-width-container">
      
      <main class="govuk-main-wrapper" id="main-content">
        
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">You have been invited to participate in the
      process for [Sub-category] procurement for [Organisation name].</p>
    <p class="govuk-body govuk-!-font-weight-bold">Sign in to view tasks</p>
    <p class="govuk-body">Click this <a href="../../school-buyer/start" class="govuk-link" rel="noreferrer noopener" target="_blank" contenteditable="false" style="cursor: pointer;">
      unique case-specific link (opens in new tab)</a> to access
      your procurement task list. You will need to sign in with your DfE
      Sign-in account. If you do not have a DfE Sign-in account, you will need
      to create one.</p>
    <p class="govuk-body">From here you will be able to see all the tasks
      you will need to complete.</p>
    <p class="govuk-body govuk-!-margin-top-9">[Case worker full name]</p>
    <p class="govuk-body">Procurement Specialist</p>
    <p class="govuk-body">Get help buying for schools</p>
    <p class="govuk-body govuk-!-margin-top-9">Get help buying for schools
      service disclaimer</p>
    <p class="govuk-body">Please note that the expertise and advice being
      provided by the Service shall not in any way affect your obligations
      to comply with all relevant procurement law and the Department's
      guidance, including but not limited to the Public Contracts
      Regulations, Academy Trust Handbook, ESFA Funding Agreement and the
      Schemes for Financing Local Authority Maintained schools.</p>
    <p class="govuk-body">For the avoidance of doubt, the Department shall
      bear no liability as a result of using our Service.</p>
  </div>
</div>

      </main>
    </div>
  

  



  

  
  

  <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/kit.js"></script>



  <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/auto-store-data.js"></script>



  <script type="module" src="/plugin-assets/govuk-frontend/dist/govuk/govuk-frontend.min.js"></script>



  <script type="module" src="/plugin-assets/govuk-frontend/dist/govuk-prototype-kit/init.js"></script>



  <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/all.jquery.min.js"></script>



  <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/init.js"></script>



  <script type="module" src="/public/javascripts/application.js"></script>




  

  <script src="/public/javascripts/dfefrontend.js"></script>




<div id="give-freely-root-mbnbehikldjhnfehhnaidhjhoofhpehk" class="give-freely-root" data-extension-id="mbnbehikldjhnfehhnaidhjhoofhpehk" data-extension-name="CSS Peeper" style="display: block;"></div></body></html>