{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Opening times and holiday childcare - Check your answers - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/phase-3/tasklist?timesHoliday=Complete" method="post">

      <span class="govuk-caption-xl">Opening times and holiday childcare</span>
      <h1 class="govuk-heading-l">Check your answers</h1>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
             What will be the operating hours of the nursery provision?
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Quote 1 breakdown</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Monday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['m-start'] }} - {{ data['m-end'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Tuesday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['t-start'] }} - {{ data['t-end'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Wednesday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['w-start'] }} - {{ data['w-end'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Thursday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['th-start'] }} - {{ data['th-end'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Friday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['f-start'] }} - {{ data['f-end'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Will your nursery provide holiday childcare?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['holidayChildcare'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Will your nursery provide holiday childcare?</span></a>
            </dd>
          </div>
        </dl>

        {% if data['holidayChildcare'] == "Yes" %}
         <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
             What will be the holiday opening hours of the nursery provision?
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Quote 1 breakdown</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Monday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['m-start-hol'] }} - {{ data['m-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Tuesday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['t-start-hol'] }} - {{ data['t-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Wednesday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['w-start-hol'] }} - {{ data['w-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Thursday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['th-start-hol'] }} - {{ data['th-end-hol'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Friday
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['f-start-hol'] }} - {{ data['f-end-hol'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
        {% endif %}

      

        {{ govukButton({
          text: "Save and continue",
          href: ""
         }) }}

   

        </form>
      </div>
    </div>
  </main>
</div>



      
  


  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
