{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
New nursery provision and capacity - What will be the operating hours of the nursery provision? - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-2/costings-and-logistics/new-nursery/check-your-answers" method="post">

  <span class="govuk-caption-xl">New nursery provision and capacity</span>
  <h1 class="govuk-heading-xl">What will be the operating hours of the nursery provision?</h1>
 
  <p class="govuk-body">Enter the start and end times for your term time opening hours.</p>
  <p class="govuk-body">Times must be entered in 24 hour decimal format. For example, 09.00 or 14.30. Enter 12.00 for midday.</p>

  <h2 class="govuk-heading-m">Monday</h2>

  <div class="govuk-form-group">
    <label class="govuk-label" for="m-start">
      Start time
    </label>
    <input class="govuk-input govuk-input--width-4" id="m-start" name="m-start" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="m-end">
      End time
    </label>
    <input class="govuk-input govuk-input--width-4" id="m-end" name="m-end" type="text">
  </div>

  <h2 class="govuk-heading-m">Tuesday</h2>

  <div class="govuk-form-group">
    <label class="govuk-label" for="t-start">
      Start time
    </label>
    <input class="govuk-input govuk-input--width-4" id="t-start" name="t-start" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="t-end">
      End time
    </label>
    <input class="govuk-input govuk-input--width-4" id="t-end" name="t-end" type="text">
  </div>

  <h2 class="govuk-heading-m">Wednesday</h2>

  <div class="govuk-form-group">
    <label class="govuk-label" for="w-start">
      Start time
    </label>
    <input class="govuk-input govuk-input--width-4" id="w-start" name="w-start" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="w-end">
      End time
    </label>
    <input class="govuk-input govuk-input--width-4" id="w-end" name="w-end" type="text">
  </div>

  <h2 class="govuk-heading-m">Thursday</h2>

  <div class="govuk-form-group">
    <label class="govuk-label" for="th-start">
      Start time
    </label>
    <input class="govuk-input govuk-input--width-4" id="th-start" name="th-start" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="th-end">
      End time
    </label>
    <input class="govuk-input govuk-input--width-4" id="th-end" name="th-end" type="text">
  </div>

   <h2 class="govuk-heading-m">Friday</h2>

  <div class="govuk-form-group">
    <label class="govuk-label" for="f-start">
      Start time
    </label>
    <input class="govuk-input govuk-input--width-4" id="f-start" name="f-start" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="f-end">
      End time
    </label>
    <input class="govuk-input govuk-input--width-4" id="f-end" name="f-end" type="text">
  </div>


  </div>
  </div>

      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
