{% extends "layouts/dfe-header.html" %}

{% block pageTitle %}
  {{serviceName}} prototype – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Design history</h1>

    <table class="govuk-table design-history">
      <caption class="govuk-table__caption govuk-table__caption--m">All previous designs</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>

          <th scope="col" class="govuk-table__header">What we did</th>
          <th scope="col" class="govuk-table__header">Why we did it</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="phase-3-2/home" class="govuk-link">v3</a></th>
       
           <td class="govuk-table__cell">
            <p class="govuk-body"><strong>Upfront Journey</p></strong>
            <ul class="govuk-list govuk-list--bullet">
              <li>Updated H1 + section headings to make it clear for users</li>
              <li>Updated dashboard to include tasks "How will the proposed SBN project(s) directly address the challenges identified? " and "What childcare sufficiency challenges has the local authority identified?"</li>
              <li>Added content for content audits</li>
              <li>Combined BSFH details into one page + added description of UKPRN</li>
            </ul>
            <br>

            <p class="govuk-body"><strong>New or extended nursery capacity</p></strong>
            <ul class="govuk-list govuk-list--bullet">
              <li>Removed "how will the nursery be provisioned"</li>
            </ul>
            <br>

            <p class="govuk-body"><strong>New or extended nursery capacity times and holiday childcare </p></strong>
            <ul class="govuk-list govuk-list--bullet">
              <li>Added "how will the nursery be provisioned"</li>
            </ul>
            <br>

            <p class="govuk-body"><strong>Project timeline</p></strong>
            <ul class="govuk-list govuk-list--bullet">
              <li>Combined pages to one to match P2 + added content from docs</li>
            </ul>
            <br>

            <p class="govuk-body"><strong>Project and additional funding costs</p></strong>
            <ul class="govuk-list govuk-list--bullet">
              <li>Combined "how much Grant" and "How much contingency"</li>
              <li>Added year breakdown of grant on one page and used copy as per policy doc</li>
              <li>Added timeline information </li>
              <li>Re orderded to better fit timeline + costings</li>
              <li>pageRemoved information</li>
              <li>Added Total cost info "Cost breakdown per year"</li>
            </ul>
            <br>


          <td class="govuk-table__cell">

            <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://educationgovuk-my.sharepoint.com.mcas.ms/:p:/r/personal/diani_wilmot_education_gov_uk/_layouts/15/Doc.aspx?sourcedoc=%7B303C5DAC-2046-4532-A04D-64EA5C4FF11C%7D&file=SBN%20Phase%203%20-%20Round%202%20-%20Research%20Report.pptx&action=edit&mobileredirect=true" target="_blank">Key findings and design recommendations (PowerPoint) that came from the 2nd round of user research (opens in a new tab)</a>.</li>
            </ul>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--purple">Design in progress</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="phase-3/home" class="govuk-link">v2</a></th>
    
          <td class="govuk-table__cell">
            <p class="govuk-body"><strong>Upfront Journey</p></strong>
            <ul class="govuk-list govuk-list--bullet">
              <li>Added new content for start page</li>
              <li>Removed Before you start page</li>
              <li>Removed information you need to supply page</li>
              <li>Grouped LA contact information with new content</li>
              <li>Added LA level questions as per policy doc</li>
              <li>Changed journey to application home after LA info as to reinforce the pattern of clicking CTA per project (To test)</li>
            </ul>
            <br>

            <p class="govuk-body"><strong>Current nursery and provision and capacity</strong></p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Updated content on 'Does the project have existing nursery provision' from content recommendatione</li>
            </ul>
            <br>

            <p class="govuk-body"><strong>Delivery of new extended nursery provision</strong></p>
            <ul class="govuk-list govuk-list--bullet">
              <li>"What is the name of the PVI or Childminder(s)?" Added intro copy per policy doc</li>
              <li>Removed the question "What is the PVI unique provider reference number" As per policy doc</li>
              <li>"What is the provider’s Ofsted EY unique reference number?" Added H1 + hint from policy doc</li>
            </ul>
            <br>

            <p class="govuk-body"><strong>Project and additional funding costs</strong></p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Added new categorys for "What type of project is it? + added hint per iteam from guidance doc</li>
              <li>Combined total fund amount with breakdown for years which will be filtered by Start date / End date from 'Project timeline"</li>
              <li>Added provide justification of 10% added from policy doc</li>
              <li>Removed Cost content page from phase 2</li>
              <li>Changed H1 "Will the prject be supported by funding from other sources" As per policy doc</li>
            </ul>
            <br>

            <p class="govuk-body"><strong>Planning permission, significant change and childcare regisration</strong></p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Update H1 'Is planning permission and/or listed building consent (LBC) required for the proposed use and/or building works?" per policy doc</li>
              <li>Updated H1 + items for "What stage has the planning and/or LBC Permission application reached?" as per policy doc</li>
            </ul>
            <br>

            <p class="govuk-body"><strong>Qualitative questions about the project  </strong></p>
            <ul class="govuk-list govuk-list--bullet">
              <li>"Outline an overview of the proposed project" Updated H1 and intro copy as per policy doc</li>
              <li>Nurseries proposed in Best Start Family Hubs should have links to local schools. (Note to policy have not added H1 and it does read a question)</li>
              <li>Added new questions for "Is the project participating in the DfE’s School Rebuilding Programme (SRP)?" as per policy doc</li>
            </ul>
            <br>
         
          </td>
          <td class="govuk-table__cell">From the back of User research findings and design recommendations in accordance with policy and content support.</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="phase-3-v1/home" class="govuk-link">v1</a></th>
      
          <td class="govuk-table__cell">
            This takes you to our coded flow to use in user research.
            <br>
            <br>
            This flow was created in conjunction with policy whilst trying to re-use as much as Phase 2 as possible.
          </td>
          <td class="govuk-table__cell">We needed to design the 'apply' user journey at pace so we could put it in front of users.</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="https://lucid.app/lucidspark/929e3c04-5d39-4aa8-812d-09c25eb7df31" class="govuk-link" target="_blank">Ideation and design concepts in Lucid (opens in a new tab)</a></th>
          <td class="govuk-table__cell">
            This takes you to the design work on Lucid for our first prototype.
            <br>
            <br>
            Opens in a new link
          </td>
          <td class="govuk-table__cell">To help the UCD team to understand the problem space, ideate and create design concepts that could meet the business requirements.</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">Living document</strong></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
{% endblock %}
