{% extends "layouts/main.html" %}

{% block pageTitle %}
User research – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">User research</h1>
        <p>Research sessions and outputs</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l">Phase 3 Round 2 (Upfront journey and two tasks and submission of applicaiton)</h2>

      
          <p class="govuk-body">This research aimed to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>To identify any usability issues with up front journey</li>
              <li>The question sets for Project timeline, Project and additional funding costs and Project overview</li>
            </ul>

          

   
        {{ govukButton({
          text: "Phase 3",
          href: "/phase-3/home?proCapacity=Complete&newProvision=Complete&newNursery=Complete&timesHoliday=Complete&planning=Complete"
        }) }}
  
        {{ govukButton({
          text: "Page by Page listings",
          href: "/phase-3/listings",
          classes: "govuk-button--secondary govuk-!-margin-left-1"
          }) }}
  
        <p><a href="https://lucid.app/lucidspark/929e3c04-5d39-4aa8-812d-09c25eb7df31/edit?view_items=LLTpInnGkb3L&page=0_0&invitationId=inv_20d5aeac-cd46-47c5-95f4-ab8592f5f382" class="govuk-link" rel="noreferrer noopener" target="_blank">Phase 3 user flows (opens in new tab)</a></span></p>

        <p><a href="https://educationgovuk-my.sharepoint.com.mcas.ms/:p:/r/personal/diani_wilmot_education_gov_uk/_layouts/15/Doc.aspx?sourcedoc=%7B303C5DAC-2046-4532-A04D-64EA5C4FF11C%7D&file=SBN%20Phase%203%20-%20Round%202%20-%20Research%20Report.pptx&action=edit&mobileredirect=true" class="govuk-link" rel="noreferrer noopener" target="_blank">Research report (opens in new tab)</a></span></p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l">Phase 3 Round 1 (Upfront journey and two tasks and submission of applicaiton)</h2>

        <p>This research aimed to:

          To identify any usability issues with up front journey + Tasklist understanding + mutplie applications submissions with status labels for LAs
          
        </p>

   
        {{ govukButton({
          text: "Phase 3",
          href: "/phase-3-v1/home?proCapacity=Complete&newProvision=Complete&newNursery=Complete&timesHoliday=Complete&timeline=Complete&planning=Complete"
        }) }}
  
        {{ govukButton({
          text: "Page by Page listings",
          href: "/phase-3-v1/listings",
          classes: "govuk-button--secondary govuk-!-margin-left-1"
          }) }}
  
        <p><a href="https://lucid.app/lucidspark/929e3c04-5d39-4aa8-812d-09c25eb7df31/edit?view_items=LLTpInnGkb3L&page=0_0&invitationId=inv_20d5aeac-cd46-47c5-95f4-ab8592f5f382" class="govuk-link" rel="noreferrer noopener" target="_blank">Phase 3 user flows (opens in new tab)</a></span></p>

        <p><a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/lvewp00332/_layouts/15/Doc.aspx?sourcedoc=%7B7864F0FA-1B58-4222-8FCB-7366A6CCEA18%7D&file=SBN%20Phase%203%20-%20Round%201%20-%20Research%20Report.pptx&action=edit&mobileredirect=true" class="govuk-link" rel="noreferrer noopener" target="_blank">Research report (opens in new tab)</a></span></p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>


{% endblock %}
