{% extends "layouts/main.html" %}

{% block pageTitle %}
User research – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">User research</h1>
        <p>Research sessions and outputs</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l">Phase 3 (Upfront journey and two tasks and submission of applicaiton)</h2>

        <p>This research aimed to:

          To identify any usability issues with up front journey + Tasklist understanding + mutplie applications submissions with status labels for LAs
        
          
        </p>

   
        {{ govukButton({
          text: "Phase 3",
          href: "/phase-3/home"
        }) }}
  
        {{ govukButton({
          text: "Page by Page listings",
          href: "/phase-3/listings",
          classes: "govuk-button--secondary govuk-!-margin-left-1"
          }) }}
  
        <p><a href="https://lucid.app/lucidspark/929e3c04-5d39-4aa8-812d-09c25eb7df31/edit?view_items=LLTpInnGkb3L&page=0_0&invitationId=inv_20d5aeac-cd46-47c5-95f4-ab8592f5f382" class="govuk-link" rel="noreferrer noopener" target="_blank">Phase 3 user flows (opens in new tab)</a></span></p>

        <p><a href="" class="govuk-link" rel="noreferrer noopener" target="_blank">Research report (opens in new tab)</a></span></p>

    </div>


{% endblock %}
