{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
PVI or childminder partner - Enter the address of the PVI provider or childminder - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <form action="/phase-2/about-your-project/pvi/piv-contact-number" method="post">

  <span class="govuk-caption-xl">PVI or childminder partner</span>

  <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Enter the address of the PVI provider or childminder
    </h1>
  </legend>
  <div class="govuk-form-group">
    <label class="govuk-label" for="pvi-address-line-1">
      Address line 1
    </label>
    <input class="govuk-input" id="pvi-address-line-1" name="pviAddress1" type="text" autocomplete="address-line1">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="pvi-address-line-2">
      Address line 2
    </label>
    <input class="govuk-input" id="pvi-address-line-2" name="pviAddress2" type="text" autocomplete="address-line2">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="pvi-address-town">
      Town or city
    </label>
    <input class="govuk-input" id="pvi-address-town" name="pviAddressTown" type="text" autocomplete="address-level2">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="pvi-address-postcode">
      Postcode
    </label>
    <input class="govuk-input" id="pvi-address-postcode" name="pviAddressPostcode" type="text" autocomplete="postal-code">
  </div>
</fieldset>



      
    {{ govukButton({
    text: "Save and continue",
          href: ""
    }) }}

</form>
  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
