{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
Submit your application - Declaration - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form action="/phase-3-2/submit/application-submitted" method="post">

    <span class="govuk-caption-xl">Submit your application</span>
    <h1 class="govuk-heading-xl">Declaration</h1>

    <p class="govuk-body">As part of the process for DfE’s SBN capital grant 2027-2030, the local authority will need to sign a declaration that confirms the local authority supports the proposed nursery projects submitted and that the provisions will adhere to the quality standards and statutory requirements outlined below.</p>

    <h2 class="govuk-heading-l">Quality declaration </h2>
    <p class="govuk-body">The local authority agrees that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the proposed project(s) demonstrate a commitment to delivering high-quality early education that aligns with the Early Years Foundation Stage (EYFS) statutory framework, including inclusive practice, effective safeguarding, and support for children from disadvantaged backgrounds (such as children eligible for free school meals or early years pupil premium) and any other specific groups of children, such as those with SEND or English as an Additional Language (EAL)</li>
        <li>they will support the school and/or Best Start Family Hub (BSFH) nursery in meeting any necessary Ofsted registration requirements</li>
        <li>they are satisfied that the nurseries proposed will be appropriately staffed during the time they are open</li>
        <li>they are satisfied that any projects proposed by settings meet quality requirements, even if their most recent Ofsted inspection shows:</li>
          <ul class="govuk-list govuk-list--bullet">
            <li>for inspections before September 2024: an overall effectiveness judgement below ‘Good’</li>
            <li>for inspections between September 2024 and November 2025: one or more key judgements rated below ‘Good’</li>
            <li>or inspections since November 2025: one or more evaluated areas assessed as below the ’Expected standard’</li>
          </ul>
        <li>they are satisfied that due care and diligence will be undertaken in executing the works, including health and safety and regulatory compliance, and that the <a href="">Establishing SBN provision (opens in a new tab)</a> guidance has been considered and adhered to where appropriate</li> 
      </ul>

    <h2 class="govuk-heading-l">Policy declaration</h2>
    <p class="govuk-body">The local authority agrees that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>there has been due consideration of the local market with the project enhancing the overall local offer without negatively impacting provision in close proximity, including that delivered by external providers</li>
        <li>the quality and capacity of current childcare providers have been evaluated, and the proposed projects address genuine gaps in provision based on clear evidence of unmet demand. Future demand has also been considered, including housing developments and demographic changes.</li>
        <li>the proposed project(s) meet the indoor space and outdoor access requirements as outlined in the EYFS framework</li>
        <li>they have considered how the proposed settings can provide early years provision to meet the needs of all families, including working parents, low-income households, vulnerable children, children with SEND</li>
        <li>they have engaged with the school and/or BSFH nursery to ensure that the proposal reflects local market conditions and supports parental choice and flexibility (e.g., the ability to offer childcare from 8am to 6pm and during school holidays)</li>
        <li>they have ensured the childcare places created by the new nursery provision will support the delivery of the government’s <a href="">early education and childcare entitlements (opens in a new tab)</a></li>   
        <li>they have ensured the delivery of all proposed projects will not hinder their capacity to fulfil other statutory and non-statutory duties, including but not limited to<a href=""> free breakfast clubs (opens in a new tab)</a></li> 
        <li>they have discussed and agreed with the school or BSFH how project delivery should be managed (for example if the local authority retains responsibility of project delivery, or if the school/MAT/BSFH will manage delivery). Whether the local authority delivers the project directly or delegates responsibilities to the school/MAT/BSFH, local authorities remain accountable for project assurance and compliance with funding terms and conditions</li>
      </ul>

    <h2 class="govuk-heading-l">Quality assurance declaration </h2>
    <p class="govuk-body">The local authority agrees that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to the best of their knowledge, the information provided is complete and accurate, demonstrating that the relevant criteria have been met. Any applicable supporting documents have been included, and no information submitted is false or misleading</li>
        <li>they have engaged with ALL interested and eligible schools and MATs in the local area to support the development of the funding proposal and can provide evidence to demonstrate this if required</li>
        <li>they have explored alternative options and confirm that, to the best of their knowledge, the selected projects represent the most suitable, effective and value for money approach to meet the intended objectives and would be able to provide evidence of this if requested by DfE</li>
        <li>the financial sustainability of all proposed projects has been considered </li>
        <li>if planning permission and/or listed building consent is required, they have   discussed the proposals in principle with the LPA, including to identify any site constraints and planning issues which could represent a significant risk in terms of delay in securing the necessary permissions and that they have identified any such risks as part of the funding application</li>
        <li>potential projects have been encouraged to take a sustainable business approach to planning, supported by <a href="">the business sustainability tool kit (opens in a new tab)</a></li>   
        <li>if the use of AI tools has been used to support the generation of the proposal, content has been checked and verified for accuracy</li>
      </ul>

    <h2 class="govuk-heading-l">Legal and compliance declaration</h2>
    <p class="govuk-body">The local authority agrees that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>due regard has been given to duties under the Public Sector Equality Duty</li>
        <li>the projects proposed will comply with all relevant statutory obligations, including public procurement regulations and guidance</li>
        <li>the governing body, relevant freehold landowner, and, where applicable, the religious authority support each proposal being put forward</li>
        <li>funding will be used solely for the eligible costs of the specified works</li>
        <li>grant funding will only be used for eligible costs incurred after the grant is awarded. Retrospective claims will not be accepted. A contingency has been considered and included in the cost planning to account for unexpected costs</li>
        <li>any conflicts of interest (such as relationships with technical advisors or contractors) have been declared, recorded, and appropriate action taken</li>   
        <li>no prior DfE funding has been received that would result in double funding. For example, if funding was received through the 2023–24 Childcare Expansion Capital Grant, or phase 1 or 2 of the SBN grant this project must deliver additional places</li>
        <li>regardless of project completion date, all allocated funding must be spent by 30 September 2030</li>
        <li>should this project be successful, the procurement of this contract will be in accordance with the Local Authority’s Standing Orders and the lowest tender that meets your requirements should be accepted, unless clear evidence and rationale supports otherwise and unless prior agreement is given by DfE</li>
      </ul>

      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              I understand and agree to the declaration
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    


      {{ govukButton({
      text: "Continue",
            href: ""
      }) }}

      

</form>
</div>

    </div>
  </div>



{% endblock %}
