{% extends "layouts/dfe-header-full.html" %}

{% block pageTitle %}
 Eligibility - Check your answers - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Eligibility</span>
      <h1 class="govuk-heading-l">Check your answers</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will the nursery be located on the school premises?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['locatedonschool'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Will the nursery be located on the school premises?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How will the nursery provision be delivered?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['nureseryProvision'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> How will the nursery provision be delivered</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the project using available space in the school buildings to create new nursery places?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['availableSpace'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Is the project using available space in the school buildings to create new nursery places?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the Local Authority early years lead been consulted before starting this application?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['leadConsulted'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Has the Local Authority early years lead been consulted before starting this application?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the Local Authority Pupil Place Planning lead been consulted before starting this application?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['pupilleadConsulted'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Has the Local Authority Pupil Place Planning lead been consulted before starting this application?</span></a>
            </dd>
          </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the Local Authority agree with the proposal for a school-based nursery?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['localAuthority'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Does the Local Authority agree with the proposal for a school-based nursery?</span></a>
            </dd>
          </div>
             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Can the project be delivered with up to £150,000.00 of DfE capital funding, or in combination with funding from other sources?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['projectDelivered'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Can the project be delivered with up to £150,000.00 of DfE capital funding, or in combination with funding from other sources?</span></a>
            </dd>
          </div>
             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the relevant freehold landowner agreed to the use of their land for the nursery provision and any necessary capital works?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['relevantFreehold'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Has the relevant freehold landowner agreed to the use of their land for the nursery provision and any necessary capital works?</span></a>
            </dd>
          </div>
        </dl>
      
         {{ govukButton({
          text: "Save and continue",
          href: "you-are-eligible"
         }) }}

        </form>
      </div>
    </div>
  </main>
</div>



      
  


  </fieldset>
</div>

    </div>
  </div>



{% endblock %}
